<div class='row staybar'>
  <div class="col-sm-6">
    <%= render 'key' %>
  </div>
</div>

<div class="row">
    <div class="rollback col-sm-6">
    <%= image_tag Search.map_food(@foods) %>
  </div>

  <div class="col-sm-6">
    <% @foods.each do |food| %>
    <div class="container">
      <div class="panel panel-default">
        <div class="panel-heading bg-danger">
           <h3 class="panel-title">Danger Zone</h3>
        </div>
        <div class="panel-body text-<%= color_pick(food) %>">
          <%= link_to food_path(food), class: "text-#{color_pick(food)}" do %>
            <div class="col-sm-12">
              <%= food.business_name.upcase %>
            </br>
              Score: <%= food.avg_score.to_i %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
