<div class="container">
  <div class="row">
    <h2 class="col-sm-12 page-header"><%= @food.business_name %></h2>
    <div class="col-sm-3 col-offset-2">
      <ul>
        <li>
          Score: <%= @food.avg_score.to_i %>
        </li>
        <li>
          Violations: <%= @food.violations %>
        </li>
        <li>
          Risk Level: <%= @food.risk_category %>
        </li>
        <li>
          Location: San Francisco %>
        </li>
      </ul>
    </div>
    <div class="col-sm-6">
      <% if @food.business_latitude %>
        <%= image_tag Search.map_a_food(@food) %>
      <% end %>
    </div>
  </div>
</div>
